*.der
*.fsv_sig
*.json
*.pem
*.sig
*.sjson
/apps.0.pub
/apps.0.sec
/apps/packages/*/*/*
!/apps/packages/*/*/*.toml
/gmscompat-apps/
/lock
/logs/
/*.root_apps.diamaneos.de.conf
/static-tmp/

hosts.private.sh

servers.private.sh
